@model Dictionary<string, int>

@{
    ViewBag.Title = "SubjectDetails";
}

<h2>SubjectDetails</h2>

<h3>@ViewBag.subjectName</h3>
<h3>@ViewBag.subjectAvg</h3>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@item.Key</p>
            </td>
            <td>
                <p>@item.Value</p>
            </td>
        </tr>
    }
</table>



