@model PL.Models.StudentViewModel
@{
    ViewBag.Title = "CreateStudent";
}

<h2>CreateStudent</h2>

<div class="card m-5">
    <h5 class="card-header text-center">Додати нового студента</h5>
    <div class="card-body">
        <form class="p-a-1" action="/Student/CreateStudent" method="post">
            <div class="form-group">
                <label for="Name"> Name: </label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label for="GroupName"> Group: </label>
                <select id="countires" name="GroupName">
                    <option value="">Група</option>
                    @foreach (var item in ViewBag.groups)
                    {
                        <option>@item.Name</option>
                    }
                 </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit </button>
            </div>
        </form>
    </div>
</div>
