@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Дані про автора:</h2>
<p>
    Чиж Юлія - студентка групи ІП-54 факультету обчислювальної та інформаційної техніки.
</p>


<address>
    <abbr title="Adress">Телефон:</abbr>
    Київ<br />
    <abbr title="Phone">Телефон:</abbr>
    +380983220048
</address>

<address>
    <strong>Електронна адреса:</strong>   <a href="mailto:yulia_yulia01@ukr.net">yulia_yulia01@ukr.net</a><br />
    <strong>Github:</strong>   <a class="btn btn-default" href="https://github.com/YuliaChyzh">Github &raquo;</a>
</address>