@using BLL.DTO
@model Dictionary<PL.Models.StudentViewModel, GroupDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">


        <tr>

            <td>
                <p>@Html.ActionLink("Відобразити студентів", "ShowStudent", "Student")</p>
            </td>
            <td>
                <p>@Html.ActionLink("Додати нового студента", "CreateStudent", "Student")</p>
            </td>
        </tr>



</table>