@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Журнал успішності</h1>
</div>

<div>
    <h2 align="center">Ласкаво просимо до Журналу успішності</h2>
    <p>Журнал успішності: електронний журнал успішності студентів.</p>
    <p>
        Даний веб-застосунок створений за допомогою ASP.NET MVC 5
        з використанням Entity Framework 4.6 (Code First).
    </p>
    <p>
        Даний проект є курсовою роботою за 6 семестр Чиж Юлії, студентки групи ІП-54.
    </p>
</div>
<div>
    <h2>Завантажити</h2>
    <p>Ви можете завантажити проект з GitHub.</p>
    <p><a class="btn btn-default" href="https://github.com/YuliaChyzh/Gradebook/tree/master/Gradebook">Дивитись вихідний код &raquo;</a></p>
</div>