@using BLL.DTO
@model Dictionary<PL.Models.StudentViewModel, GroupDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li><p>@Html.ActionLink("Відобразити студентів", "ShowStudent", "Student")</p></li>
<li><p>@Html.ActionLink("Додати нового студента", "CreateStudent", "Student")</p></li>
<li><p>@Html.ActionLink("Відобразити всі предмети", "ShowSubject", "Subject")</p></li>
<li><p>@Html.ActionLink("Відобразити всі групи", "ShowGroups", "Group")</p></li>